streamlit
streamlit_webrtc
pycountry
streamlit_echarts
pillow
pytesseract==0.3.8
torch
torchvision
opencv-python
psutil
PyYAML
seaborn
httpx_oauth
python-dotenv
pymongo
openai
opencv-python
ffmpeg-python
pydub
pdfminer
docx